*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box {
    width: 1240px;
    /* background: rebeccapurple; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-item {
    width: 390px;
}

.box-item img {
    max-width: 100%;
}

.box-2 {
    width: 1240px;
    /* background: yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-2-item img {
    max-width: 100%;
}

.box-2-item {
    width: 32%;
}
.box-item img {
    margin-bottom: 10px;
}
.box-3 {
    width: 1240px;
    /* background: blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-3-item {
    width: 24%;
}

.box-3-item img {
    max-width: 100%;
    margin-bottom: 10px;
}

.box-2-item img {
    margin-bottom: 10px;
}
.box-4 {}

.box-4 {
    width: 1340px;
    /* background: blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.box-4-item {}

.box-4-item {
    width: 13.5%;
}

img {}

.box-4-item img {
    max-width: 100%;
}`````